# Django
SECRET_KEY=change-me-50-chars-random-string
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,localhost,127.0.0.1

DB_NAME=vantoryx
DB_USER=vantoryx
DB_PASSWORD=change-me-strong-password


OPENROUTER_API_KEY=sk-or-...

BOT_TOKEN=123456:ABC-your-bot-token
REQUEST_TIMEOUT_S=15
AUDIO_POLL_SECONDS=60
AUDIO_POLL_INTERVAL_S=3
